html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #444;
}

img {
    max-width: 100%;
}

ul, ol {
    padding-left: 20px;
}

a {
    color: #006d76;
    text-decoration: none;
}

.media-preview-modal .modal-dialog {
    max-width: fit-content;
    width: auto;
}


.console-scroll {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE / Edge */
}

.console-scroll::-webkit-scrollbar {
    display: none;              /* Chrome / Safari / Opera */
}